body {
  margin: 0;
  font-family: Verdana, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #000;
  font-size: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  -webkit-user-drag: none;
}

/* scrollbar */

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-button {
  background: transparent;
  border-radius: 4px;
  display: none;
}

::-webkit-scrollbar-track-piece {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.4);
  border: 1px solid slategrey;
}

::-webkit-scrollbar-track {
  box-shadow: transparent;
}
/* 漸變 fade */
:root {
  --time: 1000ms;
}

.fade {
  &-enter {
    opacity: 0;
    &-active {
      opacity: 1;
      transition: opacity var(--time);
    }
  }
  &-exit {
    opacity: 1;
    &-active {
      opacity: 0;
      transition: opacity var(--time);
    }
  }
}

.drawer {
  &-enter {
    height: 0;
    transition: height 200ms;
    &-active {
      height: auto;
    }
  }
  &-exit {
    height: auto;
    &-active {
      height: 0;
      transition: height 200ms;
    }
  }
}

@keyframes warmbgmov {
  0% {
    background-color: #f002;
  }
  50% {
    background-color: #f008;
  }
  100% {
    background-color: #f002;
  }
}
